<h1>Sign In</h1>
<form action="<%= session_url %>" method="post">
	<input type="hidden" name="authenticity" value="<%= form_authenticity_token %>">
	<input type="text" name="user[username]" id="name">
	<label for="name">Username</label>
	<input type="text" name="user[password]" id="password">
	<label for="password">Password</label>
	<input type="submit" value="Sign In">
</form>